
/*----Header-----------------------*/
.textHeader{
    color: #FFFFFF;
}
.botones{
    text-decoration: none;
}

/*--------main section----------*/
.imgBackground{
    background-image: url(./medios/Convocatoria/fondo.png);
    background-attachment: fixed;
    background-size: cover;
}
.containerPrincipal{
    background-color: #FFFFFF;
    opacity: 90%;
    border-radius: 0.4rem;
}
.texto{
    text-align: justify;
}

.containerCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin: 1rem 0rem 2rem 0rem;
}

/*--------------FOOTER------*/
footer{
    background-color: black;
}
.footerText{
    color: #FFFFFF;
}
.temporalysolution{
    color: #FFFFFF;
}

/*----- Responsive Desing
@media (max-width:400px){
    .texto{
        text-align: left;
    }
}
-------*/
